<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <variable name="appName" value="WebApplication2" />
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <target name="CSV" xsi:type="File"
        fileName="${basedir}/Logs/${appName}-${date:format=yyyy-MM-dd}.log" keepFileOpen="false">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="message" layout="${message}" />
        <column name="url" layout="${aspnet-request:serverVariable=HTTP_URL}"/>
        <column name="referer" layout="${aspnet-request:serverVariable=HTTP_REFERER}"/>
        <column name="user-agent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>
    <!--layout="${longdate} ${level:uppercase=true:padding=5} - ${logger:shortName=true} - ${message} ${exception:format=tostring}"-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="CSV" />
  </rules>
</nlog>